<div class="col-md-4">
    <table class="table bordered">
        <thead class="tableViewTableHead">
            <tr class="table-header">
                <th style="width: 5%;"></th>
                <th style="width: 40%; vertical-align: middle;" class="">Name</th>
                <th style="width: 15%; vertical-align: middle;" class="text-right">Price/Mile</th>
                <th style="width: 15%; vertical-align: middle;" class="text-right">Standing Charge</th>
                <th style="width: 15%; vertical-align: middle;" class="text-right">Minimum Charge</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
