<div id="popOver" ng-controller="CustomersBirdsEyeViewController" style="display: none;">
    <div class="animated-card">
        <div class="card-front">
            <ul class="nav nav-tabs hidden-phone" id="popOverTabs">
                <li class="active"><a href="#/cards-view#birdsEye" data-toggle="tab">Birds Eye</a></li>
                <li><a href="#/cards-view#notes" data-toggle="tab">Notes</a></li>
                <li><a href="#/cards-view#documents" data-toggle="tab">Documents</a></li>
                <li><a href="#/cards-view#bookings" data-toggle="tab">Bookings</a></li>
                <li><a href="#/cards-view#accounts" data-toggle="tab">Accounts</a></li>
                <li class="chat9"><a href="#/cards-view#messaging" data-toggle="tab">Chat9</a></li>
            </ul>
            <div class="tab-content" id="popOverTabContents">
                <!--Tab Select Box--->
                <div class="tabHeading hidden-desktop hidden-tablet">
                    <div class="fleft uppercase selectStyle">
                        <select class="white uppercase" id="tabViewSelect">
                            <option selected value="birdsEye">Birds Eye</option>
                            <option value="notes">Notes</option>
                            <option value="documents">Documents</option>
                            <option value="bookings">Bookings</option>
                            <option value="accounts">Accounts</option>
                            <option value="chat9">Chat9</option>
                        </select>
                    </div>
                    <div class="fright bigText">
                        <span class="e9ine-icon-untitled-68 accent1 closePopOver" ng-click="dismiss($event)"></span>
                    </div>
                    <div style="clear: both"></div>
                </div>
                <!--Tab Select Box--->

                <!--Tabs--->
                <div class="tab-pane active" id="birdsEye">
                    <div class="row-fluid">
                        <div class="span4">
                            <div class="cardSectionHead">
                                Basic Information
                           
                            </div>
                            <div class="row-fluid">
                                <div class="fleft" style="text-align: center; margin-right: 10px; max-width: 47%">
                                    <div class="popOutHero" cardtext="{{selectedCustomer.Name}}" url="{{selectedCustomer.LogoUrl}}" profile-hero></div>
                                </div>
                                <div class="fleft cardHeroName" style="margin-right: 0px;">
                                    <span>{{selectedCustomer.Name}}</span>
                                </div>
                            </div>
                            <br />
                            <span class="e9ine-icon-untitled-70 accent2 bigText"></span>&nbsp; {{ selectedCustomer.ContactName }}<br />
                            <span class="e9ine-icon-untitled-50 accent2 bigText"></span>&nbsp; {{ selectedCustomer.Address1 + ', ' + selectedCustomer.Postcode }}<br />
                            <span class="e9ine-icon-untitled-59 accent2 bigText"></span>&nbsp; {{ selectedCustomer.Phone }}, {{ selectedCustomer.Fax }}<br />
                            <span class="e9ine-icon-untitled-60 accent2 bigText"></span>&nbsp; {{ selectedCustomer.Email }}<br />
                        </div>
                        <div class="span8">
                            <div class="cardSectionHead">
                                Customer Bookings
                           
                            </div>
                            <div class="center">
                                <div class="btn-group">
                                    <button class="btn-small btnCyanSmall active bold" ng-click="NewRange('1wk')">1W</button>
                                    <button class="btn-small btnCyanSmall bold" ng-click="NewRange('1m')">1M</button>
                                    <button class="btn-small btnCyanSmall bold" ng-click="NewRange('3m')">3M</button>
                                    <button class="btn-small btnCyanSmall bold" ng-click="NewRange('6m')">&#189;Y</button>
                                    <button class="btn-small btnCyanSmall bold" ng-click="NewRange('1yr')">Y</button>
                                </div>
                                <br />
                                <div chart graphdata="graphdata" range="range" xfield="'Grouping.From'" yfield="'BookingStats.TotalBookings'" nullzeros="true" id="chartPlaceHolder" datasets="2"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span4">
                            <div class="cardSectionHead">
                                Scorecard
                           
                            </div>
                            <div style="display: block; text-align: center;">
                                <div class="bigText accent2 bold" style="margin: 15px auto;" data-percent="70.8" trackcolor="#131313" scalecolor="#f9f9f9" barcolor="auto" size="130" doughnut>3.7</div>
                            </div>
                            <div class="center">
                                <span class="accent2 bold">Total Jobs:</span> <span>{{ stats.alltime.selected.Result[0].BookingStats.TotalBookings }}</span><br />
                                <span class="accent2 bold">Job Share:</span> <span>{{ '3.5%' }}</span><br />
                                <span class="accent2 bold">Total Value:</span> <span class="info-value">{{ stats.alltime.selected.Result[0].BookingStats.BookingsValue | currency:'£' }}</span><br />
                                <span class="accent2 bold">Value Share:</span> <span class="info-value">{{ '6.2%' }}</span>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="cardSectionHead">
                                Popular Locations
                           
                            </div>
                            <div>
                                <span class="accent2 bold">{{ 'Heathow Terminal 4' }}</span>
                                <br />
                                {{ '8 pickups, 4 dropoffs' }} 
                           
                            </div>
                            <div style="text-align: right;">
                                <span class="accent2 bold">{{ 'Park Inn Hotel' }}</span>
                                <br />

                                {{ '7 pickups, 2 dropoffs' }} 
                           
                            </div>
                            <div>
                                <span class="accent2 bold">{{ 'Reading Station' }}</span>
                                <br />
                                {{ '2 pickups, 6 dropoffs' }} 
                           
                            </div>
                            <div style="text-align: right;">
                                <span class="accent2 bold">{{ 'Gatwick South' }}</span>
                                <br />
                                {{ '1 pickups, 2 dropoffs' }} 
                           
                            </div>

                            <br />
                            <div class="cardSectionHead">
                                Notes
                           
                            </div>
                            <span class="accent2 bold">DB: (12/06/2013)</span> {{ selectedCustomer.OfficeNotes }}
                       
                        </div>
                        <div class="span4">
                            <div class="cardSectionHead">
                                <b>Invoices</b>
                            </div>
                            <table class="cardTable">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Amount</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>12/06/2013</td>
                                        <td>£322.45</td>
                                        <td>Pending</td>
                                    </tr>
                                    <tr>
                                        <td>29/05/2013</td>
                                        <td>£256.74</td>
                                        <td>Overdue (2d)</td>
                                    </tr>
                                    <tr>
                                        <td>15/05/2013</td>
                                        <td>£304.25</td>
                                        <td>Paid</td>
                                    </tr>
                                    <tr>
                                        <td>01/05/2013</td>
                                        <td>£166.06</td>
                                        <td>Paid</td>
                                    </tr>
                                    <tr>
                                        <td>12/04/2013</td>
                                        <td>£405.46</td>
                                        <td>Paid</td>
                                    </tr>
                                    <tr>
                                        <td>01/04/2013</td>
                                        <td>£456.06</td>
                                        <td>Paid</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="notes">
                    <div class="row-fluid">
                        <div class="span4">
                            <div class="row-fluid">
                                <div class="fleft" style="text-align: center; margin-right: 10px; max-width: 47%">
                                    <div class="popOutHero" cardtext="{{selectedCustomer.Name}}" url="{{selectedCustomer.LogoUrl}}" profile-hero></div>
                                </div>
                                <div class="fleft cardHeroName" style="margin-right: 0px;">
                                    <span>{{selectedCustomer.Name}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="span8">
                            <div class="notesContainer">
                                <div ng-repeat="note in selectedNotes" ng-click="$parent.selectedNote = note" class="accent2b rounded shadow white notes">
                                    <div class="fleft smallText white">Posted by dbeech</div>
                                    <div class="fright smallText white">{{note.TimeStamp | date:'MM/dd/yyyy h:mma'}}</div>
                                    <br class="clear" />
                                    <p class="bold">{{note.Body}}</p>
                                </div>
                            </div>
                            <div class="shadowFadeBottom"></div>
                            <div style="text-right">
                                <textarea class="notesInsert" ng-model="newNote.Body"></textarea>
                                <button class="btn-small btnCyanSmall bold" style="margin: 0px" ng-click="SubmitNote()">Submit</button>
                            </div>
                        </div>
                        <br class="clear" />
                    </div>
                </div>
                <div class="tab-pane" id="documents">
                    <div class="row-fluid">
                        <div class="span4">
                            <div class="cardSectionHead">
                                Documents
                           
                            </div>
                            <div class="row-fluid">
                                <div class="fleft" style="text-align: center; margin-right: 10px; max-width: 47%">
                                    <div class="popOutHero" cardtext="{{selectedCustomer.Name}}" url="{{selectedCustomer.LogoUrl}}" profile-hero></div>
                                </div>
                                <div class="fleft cardHeroName" style="margin-right: 0px;">
                                    <span>{{selectedCustomer.Name}}</span>
                                </div>
                            </div>
                            <br />
                            <div ng-repeat="document in selectedDocuments" ng-click="$parent.selectedDocument = document" class="stackedBox revertFlip">
                                <div class="box">
                                    <span class="bold">{{document.Name}}</span>
                                    <br>
                                    <div class="fleft mediumText">{{document.Identification}}</div>
                                    <div class="fright bold">Ex. {{document.ExpiryDate | Countdown}}</div>
                                </div>
                                <div class="options">
                                    <div class="edit">
                                        <span class="e9ine-icon-untitled-37"></span>
                                    </div>
                                    <div class="delete">
                                        X
	                			   
                                    </div>
                                </div>
                            </div>
                            <div class="center mediumText bold accent2 stackedBoxAddNew">+ Add New</div>
                        </div>
                        <div class="span8">
                            <div class="flipContainer">
                                <div class="flip">
                                    <div class="flipFront face">
                                        <div id="documentViewer" class="documentViewer">
                                            <img src="{{selectedDocument.DocumentUrl}}" /><br />
                                            <br />
                                            <span class="accent2 bold">Click here to Download...</span>
                                        </div>
                                    </div>
                                    <div class="flipBack face">
                                        <div class="cardSectionHead">
                                            Add New Document
                                       
                                        </div>
                                        <form class="center" novalidate>
                                            <div class="input-prepend">
                                                <span class="add-on">Name</span>
                                                <input type="text" ng-model="documentInformation.Name" placeholder="e.g. Credit Form" />
                                            </div>
                                            <div class="input-prepend">
                                                <span class="add-on">Description</span>
                                                <input type="text" ng-model="documentInformation.Description" placeholder="" />
                                            </div>
                                            <div class="input-prepend">
                                                <span class="add-on">Type</span>
                                                <input type="text" ng-model="documentInformation.TypeID" />
                                            </div>
                                            <div class="input-prepend">
                                                <span class="add-on">ID Number</span>
                                                <input type="text" ng-model="documentInformation.Identification" placeholder="e.g. DL2134567TSG" />
                                            </div>
                                            <div class="input-prepend input-append">
                                                <span class="add-on">Expiry Date</span>
                                                <input type="text" ng-model="dates.ExpiryDate" data-date-format="dd/mm/yyyy" placeholder="dd/MM/yyyy" bs-datepicker>
                                                <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar icon-white"></i></button>
                                            </div>
                                            <div class="file-input-wrapper accent2b" style="margin: 10px auto;">
                                                <button class="btn-file-input accent2b">Attach Document</button>
                                                <input type="file" name="Upload" accept="image/*, application/pdf" file-upload />
                                            </div>
                                            <input type="submit" class="btnCyan" value="Submit" ng-click="SubmitFile()" />
                                            <input type="reset" class="btnRed revertFlip" value="Cancel" ng-click="CancelFile()" />
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br class="clear" />
                    </div>
                </div>
                <div class="tab-pane" id="bookings">
                    <div class="row-fluid">
                        <div class="span4">
                            <div class="cardSectionHead">
                                Quick Stats
                           
                            </div>
                            <div class="row-fluid">
                                <div class="fleft" style="text-align: center; margin-right: 10px; max-width: 47%">
                                    <div class="popOutHero" cardtext="{{selectedCustomer.Name}}" url="{{selectedCustomer.LogoUrl}}" profile-hero></div>
                                </div>
                                <div class="fleft cardHeroName" style="margin-right: 0px;">
                                    <span>{{selectedCustomer.Name}}</span>
                                </div>
                            </div>
                            <br />
                            <div class="accent2 bold fleft smallerText" style="margin: 5px auto 10px auto;"
                                data-percent="{{(stats.alltime.selected.Result[0].BookingStats.TotalBookings / stats.alltime.max.Result[0].BookingStats.TotalBookings * 100) || 0 }}"
                                trackcolor="#131313" scalecolor="#f9f9f9" size="50" linewidth="4" barcolor="auto" doughnut>
                                {{stats.alltime.selected.Result[0].BookingStats.TotalBookings | AbbrValue}}                          
                            </div>
                            <div class="fleft bigText white" style="margin: 5px auto 0; padding: 15px 5px;">Bookings (All)</div>
                            <br class="clearfix" />
                            <div class="accent2 bold fleft smallerText" style="margin: 5px auto 10px auto;"
                                data-percent="{{(stats.month.selected.Result[0].BookingStats.TotalBookings / stats.month.max.Result[0].BookingStats.TotalBookings * 100) || 0 }}"
                                trackcolor="#131313" scalecolor="#f9f9f9" size="50" linewidth="4" barcolor="auto" doughnut>
                                {{stats.month.selected.Result[0].BookingStats.TotalBookings | AbbrValue}}
                           
                            </div>
                            <div class="fleft bigText white" style="margin: 5px auto 0; padding: 15px 5px;">Bookings (Month)</div>
                            <br class="clearfix" />
                            <div class="accent2 bold fleft smallerText" style="margin: 5px auto 10px auto;"
                                data-percent="{{(stats.alltime.selected.Result[0].BookingStats.BookingsValue / stats.alltime.max.Result[0].BookingStats.BookingsValue * 100) || 0 }}"
                                trackcolor="#131313" scalecolor="#f9f9f9" size="50" linewidth="4" barcolor="auto" doughnut>
                                {{stats.alltime.selected.Result[0].BookingStats.BookingsValue | AbbrValue}}
                           
                            </div>
                            <div class="fleft bigText white" style="margin: 5px auto 0; padding: 15px 5px;">Revenue (All)</div>
                            <br class="clearfix" />
                            <div class="accent2 bold fleft smallerText" style="margin: 5px auto 10px auto;"
                                data-percent="{{(stats.month.selected.Result[0].BookingStats.BookingsValue / stats.month.max.Result[0].BookingStats.BookingsValue * 100) || 0 }}"
                                trackcolor="#131313" scalecolor="#f9f9f9" size="50" linewidth="4" barcolor="auto" doughnut>
                                {{stats.month.selected.Result[0].BookingStats.BookingsValue | AbbrValue}}
                           
                            </div>
                            <div class="fleft bigText white" style="margin: 5px auto 0; padding: 15px 5px;">Revenue (Month)</div>
                            <br class="clearfix" />
                            <div class="accent2 bold fleft smallerText" style="margin: 5px auto 10px auto;"
                                data-percent="{{(stats.alltime.selected.Result[0].BookingStats.AvgValuePerBooking / stats.alltime.max.Result[0].BookingStats.AvgValuePerBooking * 100) || 0}}" trackcolor="#131313" scalecolor="#f9f9f9" size="50" linewidth="4" barcolor="auto" doughnut>
                                {{stats.alltime.selected.Result[0].BookingStats.AvgValuePerBooking | number:2 | AbbrValue}}
                           
                            </div>
                            <div class="fleft bigText white" style="margin: 5px auto 0; padding: 15px 5px;">Avg. Fare/Booking</div>
                            <br class="clearfix" />
                        </div>
                        <div class="span8 dualTable" style="overflow: hidden; height: 500px;">
                            <div class="cardSectionHead">
                                <b>Bookings For Last Month</b>
                            </div>
                            <div class="shiftTable primaryTable">
                                <table class="cardTable shadow">
                                    <thead>
                                        <tr>
                                            <th width="10%">#</th>
                                            <th width="25%">Date / Time</th>
                                            <th width="25%">Origin</th>
                                            <th width="25%">Destin</th>
                                            <th width="15%">£</th>
                                        </tr>
                                    </thead>
                                </table>
                                <div style="height: 420px; overflow-y: auto; position: relative;">
                                    <table class="cardTable">
                                        <tbody>
                                            <tr ng-repeat="booking in selectedBookings">
                                                <td width="10%">{{ booking.ID }}</td>
                                                <td width="25%">{{ booking.BookedDateTime | date:'dd/MM/yyyy HH:mm' }}</td>
                                                <td width="25%">{{ booking.Origin }}</td>
                                                <td width="25%">{{ booking.Destination }}</td>
                                                <td width="15%">{{ booking.ActualFare | currency:"£"}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="shadowFadeBottom"></div>
                            </div>
                            <br class="clearfix" />
                        </div>
                    </div>

                </div>
                <div class="tab-pane" id="accounts"></div>
                <div class="tab-pane" id="messaging"></div>
                <!--Tabs--->
            </div>
        </div>
        <div class="card-back" style="background: black;">
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $(".showSecondaryTable").live("click", function () {
            $(this).closest(".primaryTable").slideUp();
            $(this).closest(".dualTable").find(".secondaryTable").slideDown();
        });
        $(".showPrimaryTable").live("click", function () {
            $(this).closest(".secondaryTable").slideUp();
            $(this).closest(".dualTable").find(".primaryTable").slideDown();
        });

        $(".stackedBoxAddNew").live("click", function () {
            $(this).closest(".row-fluid").find(".flipContainer .flip").addClass("flipCardBack");
        });

        $(".revertFlip").live("click", function () {
            $(this).closest(".row-fluid").find(".flipContainer .flip").removeClass("flipCardBack");
        });

    });
</script>
