<div class="table-container">
        <div class="row-fluid">
            <div class="span12">
                <div class="table-content">
                    <table class="table bordered">
                        <thead class="tableViewTableHead">
                            <tr class="table-header">
                                <th ng-click="ChangeSorting('ID','',sorting);" class="{{(sorting.key == 'ID') ? 'ordered' : ''}}" style="width:10%;">
                                    Id
                                    <div class="{{(sorting.reverse) ? 'desc' : 'asc'}}"> </div>
                                </th>
                                <th ng-click="ChangeSorting('Name','',sorting);" class="{{(sorting.key == 'Name') ? 'ordered' : ''}}" style="width:25%;">
                                    Name
                                    <div class="{{(sorting.reverse) ? 'desc' : 'asc'}}"></div>
                                </th>
                                <th ng-click="ChangeSorting('AccountType','Name',sorting);" class="{{(sorting.key == 'AccountType') ? 'ordered' : ''}}" style="width:15%;">
                                    Customer Type
                                    <div class="{{(sorting.reverse) ? 'desc' : 'asc'}}"></div>
                                </th>
                                <th ng-click="ChangeSorting('ContactName','',sorting);" class="{{(sorting.key == 'ContactName') ? 'ordered' : ''}}" style="width:25%;">
                                    Contact
                                    <div class="{{(sorting.reverse) ? 'desc' : 'asc'}}"></div>
                                </th>
                                <th ng-click="ChangeSorting('Phone','',sorting);" class="{{(sorting.key == 'Phone') ? 'ordered' : ''}}" style="width:25%;">
                                    Phone
                                    <div class="{{(sorting.reverse) ? 'desc' : 'asc'}}"></div>
                                </th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="group in groups">
                                <tr class="{{ 'group-' + group | RemoveSpaces}} tableGroupRow">
                                    <td colspan="5"><span class="groupName">{{group}}</span></td>
                                </tr>
                                <tr ng-repeat="customer in filteredCustomers | ItemsForGroup:group:grouping:sorting">
                                    <td style="width:10%;">{{ customer.ID }}</td>
                                    <td style="width:25%;">{{ customer.Name }}</td>
                                    <td style="width:15%;">{{ customer.AccountType.Name }}</td>
                                    <td style="width:25%;" class="hidden-phone">{{ customer.ContactName }}</td>
                                    <td style="width:25%;" class="hidden-phone">{{ customer.Phone }}</td>
                                </tr>
                        </tbody>
                        
                    </table>
                </div>
            </div>
        </div>
    </div>


