<div class="cardsContainer">
	<div ng-repeat="group in groups" style="padding-left: 5px; padding-right: 5px;">
	    <div class="{{ 'group-' + group|RemoveSpaces}} cardsViewGroup">
	            <span class="cardsViewGroupName">{{group}}</span><br />
	    </div>
	    <div class="card" ng-repeat="staff in filteredStaff | ItemsForGroup:group:grouping:sorting">
	    	<div class="cardOptionsWrapper">
		    	<a href="/staff/#/staff-view/{{staff.ID}}"><div class="cardOption">
		    		<span class="e9ine-icon-untitled-37"></span>
		    		</div></a>
	    	</div>
	        <div class="cardHero" style="background-image: url({{staff.ImageURL}});">
	            <img src="/includes/img/glare.png" ng-click="popOut($event)"/>
	            
	        </div>
	        <div class="cardStatus {{driver.Status}}"></div>
	        <div class="cardInfo" ng-click="popOut($event)">
	            <span class="cardName">{{staff.Forename}} {{staff.Surname}}</span>
	        </div>
	    </div>
	    <div style="clear: both" />
	</div>
</div>