<div ng-controller="NewBookingController">
    <div class="row">
        <div class="col-md-6 col-lg-5">
            <div class="modalSectionHead">
                <span class="modalSectionHeadName">Client Information</span>
            </div>
            <div class="form-group col-md-6">
                <label for="passengerName">Passenger Name</label>
                <!--            <div name-search selected="selectedName" />-->
                <input type="text" ng-model="booking.PassengerName" id="passengerName" style="width: 100%;" />
            </div>
            <div class="form-group col-md-6">
                <label for="contactNumber">Contact Number</label>
                <div phone-search selected="selectedNumber" />
            </div>
            <div class="form-group col-md-6">
                <label for="paymentType">Payment Type</label>
                <select ng-init="booking.PaymentMethod = 1" ng-model="booking.PaymentMethod" id="paymentType" style="width: 100%;">
                    <option value="1" selected>Cash</option>
                    <option value="2">On Account</option>
                    <option value="3">Credit Card</option>
                    <option value="4">Other</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="client">Client</label>
                <select ng-model="booking.ClientID" id="client" ng-options="c.ID as c.Name for c in clients" style="width: 100%;">
                    <!--<option value="" selected>New Client</option>-->
                </select>
            </div>
            <div class="form-group col-md-6" ng-show="booking.PaymentMethod == 2">
                <label for="passPhrase">PassPhrase</label>
                <input type="text" ng-model="booking.PassPhrase" id="passPhrase" style="width: 100%;" />
            </div>
            <div class="form-group col-md-6" ng-show="booking.PaymentMethod == 3">
                <label for="paymentRef">Client</label>
                <input type="text" ng-model="booking.PaymentRef" id="paymentRef" style="width: 100%;" />
            </div>
            <br class="clearfix" />
            <div class="modalSectionHead" style="width: 100%">
                <span class="modalSectionHeadName">Journey Information</span>
            </div>
            <div class="form-group col-md-12">
                <label for="fromTextbox">Pickup Location</label>
                <div location-search-adv selected="from" id="fromTextbox"></div>
            </div>
            <div class="form-group col-md-12">
                <label for="toTextbox">Dropoff Location</label>
                <div location-search-adv selected="to" id="toTextbox"></div>
            </div>
            <div class="form-group col-md-6">
                <label>Quick Times</label>
                <div class="btn-group" style="height: 30px; display: block;">
                    <input type="button" class="btn redBG" style="width: 25%;" ng-click="TimeClicked('Asap')" value="Now" />
                    <input type="button" class="btn darkOrangeBG" style="width: 25%;" ng-click="TimeClicked('15m')" value="15m" />
                    <input type="button" class="btn lightOrangeBG" style="width: 25%;" ng-click="TimeClicked('30m')" value="30m" />
                    <input type="button" class="btn lighterOrangeBG" style="width: 25%;" ng-click="TimeClicked('1hr')" value="1hr" />
                </div>
            </div>
            <div class="form-group col-md-3">
                <label for="date">Date</label>
                <input type="text" ng-model="booking.date" id="date" class="dateInput" format="dd/mm/yyyy" style="width: 100%;" bs-datepicker />
            </div>
            <div class="form-group col-md-3">
                <label for="time">Time</label>
                <input type="text" ng-model="booking.time" id="time" class="text-right time textBox" style="width: 100%;" bs-timepicker />
            </div>
            <br class="clearfix" />
            <div class="form-group col-md-6">
                <label for="cartype">Car Type</label>
                <select ng-model="booking.CarType" id="cartype" style="width: 100%;">
                    <option value="1" selected>Saloon</option>
                    <option value="2">MPV</option>
                    <option value="3">Multi</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="pax">Passengers</label>
                <input type="text" ng-model="booking.PAX" class="text-right passengers textBox" id="pax" style="width: 100%;" />
            </div>
            <div class="form-group col-md-3">
                <label for="bax">Bags</label>
                <input type="text" ng-model="booking.BAX" class="text-right baggage textBox" id="bax" style="width: 100%;" />
            </div>
            <div class="form-group col-md-6">
                <label for="Fare">Driver Notes:</label>
                <input type="text" ng-model="booking.DriverComment" id="driverComment" style="width: 100%;" />
            </div>
            <div class="form-group col-md-3">
                <label for="priority">Priority</label>
                <select ng-model="booking.Priority" id="priority" style="width: 100%;">
                    <option value="1" selected>Normal</option>
                    <option value="2">High</option>
                    <option value="3">VIP</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="Fare">Fare:</label>
                <input type="text" ng-model="booking.ActualFare" class="text-right textBox mText pound cyan" id="Fare" style="width: 100%;" />
            </div>

            <br class="clearfix" />
            <div class="form-group text-center" style="padding-top: 18px;">
                <input type="button" class="btn cyanBG" value="Auto Dispatch" ng-click="AddBooking(true)" />
                <input type="button" class="btn darkOrangeBG" value="Dispatch Later" ng-click="AddBooking(false)" />
                <input type="button" class="btn redBG" value="Cancel & Remove" ng-click="AddBooking(false)" />
            </div>
        </div>
        <div class="col-md-6 col-lg-7" style="position: relative">
            <!--<div class="modalSectionHead" style="width: 100%">
            <span class="modalSectionHeadName" ng-click="sideTab = 'from'" ng-style="{ 'background-color': (sideTab == 'from') ? '#25A98C' : '' }">From</span>
            <span class="modalSectionHeadName" ng-click="sideTab = 'to'" ng-style="{ 'background-color': (sideTab == 'to') ? '#25A98C' : '' }">To</span>
            <span class="modalSectionHeadName" ng-click="sideTab = 'journey'" ng-style="{ 'background-color': (sideTab == 'journey') ? '#25A98C' : '' }">Journey</span>
            <span class="modalSectionHeadName">Map</span>
        </div>-->
            <div id="mapNewBooking" style="border-width: 1px 1px 1px 5px; border-style: solid; border-color: #26AE90; margin-top: 10px;">
                <div basic-map route-render map="mapObject" route="route" options="mapOptions" style="height: 600px;" />
            </div>
            <!--Journey History-->
            <div class="newBookingsRecentBookings">
                <div class="modalSectionHead">
                    <span class="modalSectionHeadName">Journey History</span>
                </div>
                <div>
                    <table class="modalTable">
                        <thead>
                            <tr>
                                <th>From</th>
                                <th>To</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-click="CopyPrevious(b)" ng-repeat="b in previous" style="cursor: pointer" data-toggle="tooltip" data-placement="bottom" title="{{b.BookedDateTime}}">
                                <td width="50%">{{ b.From }}</td>
                                <td width="50%">{{ b.To }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--Journey History-->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 cardsContainer">
            <div class="modalSectionHead" style="width: 100%">
                <span class="modalSectionHeadName">Driver Queue</span>
            </div>
            <div ng-repeat="order in driverOrder | orderBy:'distance'" class="driverCircle {{order.driver.Status}}">
                    <img src="/api/image?imagetype=Profile&ownertype=driver&ownerid={{order.driver.ID}}" />
                    <div class="driverDistance {{order.driver.Status}}">
                        {{ order.distance | number:1 }} mi.
                    </div>
                <!--<span class="cardName">{{order.driver.Forename + ' ' + order.driver.Surname | Truncate:12}}</span><br />
                    <span>{{ order.distance | number:1 }} miles</span><br />-->
                <!--<div class="cardHero" style="height: 100px; background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1) 1%, rgba(0, 0, 0, 0.1) 100%), url(/api/image?imagetype=Profile&ownertype=driver&ownerid={{order.driver.ID}});">
                </div>
                <div class="cardStatus" ng-class="order.driver.Status"></div>
                <div class="cardInfo" style="height: auto;">
                    <span class="cardName">{{order.driver.Forename + ' ' + order.driver.Surname | Truncate:12}}</span><br />
                    <span>{{ order.distance | number:1 }} miles</span><br />
                </div>
                <button class="btn btn-default" style="color: #333333;" ng-click="AssignDriver(driver)">Assign Driver</button>-->
            </div>
        </div>
    </div>
</div>
